@import url('https://fonts.googleapis.com/css?family=Quattrocento:400,700|Raleway:200,200i,400|Montserrat:600|Trirong:300&display=swap');

$font-title: 'Raleway', sans-serif;
$font-subtitle: 'Trirong', serif;
$font-paragraph: 'Quattrocento', serif;
$font-mont: 'Montserrat', sans-serif;

$white: #F5F5F5;
$light-gray: #E8E8E8;
$gray: #D3D3D3;
$black: #303030;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $font-paragraph;
    text-rendering: optimizeLegibility;
}

section {
    padding: 100px 0;
}

.font-normal {
    font-weight: 400;
}

.title {
    font-family: $font-title;
    color: $black;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 36pt;
    margin: 20px 0;
}

.section-title {
    font-family: $font-mont;
    font-size: 22pt;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 50px 0;
}

.subtitle {
    font-family: $font-subtitle;
    color: $black;
    font-weight: 300;
    font-size: 18pt;
}


.paragraph {
    color: $black;
    letter-spacing: 1.5px;
    font-size: 13pt;
}

@keyframes brand-anim{
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes brand-anim-fade{
    100% {
        stroke-dashoffset: inherit;
    }
}

.btn {
    padding: 10px 15px;
    border: 1px solid black;
    font-family: $font-mont;
}

.animate {
    animation: brand-anim 3s ease forwards;
}

.container {
    padding: 0 5px;
    margin: 0 auto;
}

header {
    height: 100vh;
    width: 100%;
    background-image: url('../image/header-background-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .navbar {
        margin: 10px 0 0 0;


        .navbar-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .navbar-brand {
            margin: 0;

            #brand {
                width: 300px;
                height: auto;

                path:nth-last-child(1) {
                    stroke-dasharray: 758;
                    stroke-dashoffset: 758;
                }
                path:nth-last-child(2) {
                    stroke-dasharray: 355;
                    stroke-dashoffset: 355;
                }
                path:nth-last-child(3) {
                    stroke-dasharray: 425;
                    stroke-dashoffset: 425;
                }
                path:nth-last-child(4) {
                    stroke-dasharray: 1006;
                    stroke-dashoffset: 1006;
                }
                path:nth-last-child(5) {
                    stroke-dasharray: 325;
                    stroke-dashoffset: 325;
                }
                path:nth-last-child(6) {
                    stroke-dasharray: 509;
                    stroke-dashoffset: 509;
                }
                path:nth-last-child(7) {
                    stroke-dasharray: 803;
                    stroke-dashoffset: 803;
                }
                path:nth-last-child(8) {
                    stroke-dasharray: 425;
                    stroke-dashoffset: 425;
                }
                path:nth-last-child(9) {
                    stroke-dasharray: 691;
                    stroke-dashoffset: 691;
                }
    
            }
        }

        .navigation {
            margin-left: auto;

            ul {
                list-style: none;

                li {
                    display: inline-block;
                    margin-left: 20px;
                    font-size: 12pt; 
                    font-weight: 700;
                    text-transform: uppercase;
                    border-bottom: 2px solid transparent;
                    transition: all 0.5s;

                    &:hover {
                        border-bottom: 2px solid $light-gray;
                    }

                    a {
                        color: $black;
                        text-decoration: none;
                        font-family: 'Montserrat', sans-serif;
                    }
                }
            }
        }
    }
    
    .hero-text {
        display: block;
        margin-top: 100px;
        
        p.paragraph {
            margin-bottom: 40px;
        }

        .icon-showmore {
            border-radius: 50%;
            border: 1.5px solid $black;
            font-size: 32pt;
            background: transparent;
            transition: all 0.5s;
            color: $black;

            &:hover {
                color: $light-gray;
                background: $black;
                border: 1.5px solid $black;
            }
        }

        .icon-showmore::before {
            padding: 10px;
            vertical-align: -5px;
        }

        .btn {
            color: $black;
            text-decoration: none;
            transition: all 0.5s;
            background: transparent;


            &:hover {
                background: $black;
                border:  1.5px solid $white;
            }
        }
    }
}


#about {
    background: $white;

    .parallax {
        width: 100%;
        
        .image-wrapper {
            padding: 10px;
            background: #F2F2F2;
            border-radius: 3px;
            box-shadow: 5px 5px 15px #D5D5D5, -5px -5px 15px #D5D5D5;
            height: 100%;
    
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
